$color__primary:        #0d3b62;
$color__darker_primary: #0b2f50;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;
$color__yellow:         #ee2;