/**
 * Bootstrap Sass
 */
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "color";
@import "components/prism";
@import "components/pace";

a:hover {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  background: #fff;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "微软雅黑", "Microsoft Yahei", Arial, sans-serif;
}

h1, h2, h3, h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 200;
}

p {
  line-height: 1.5;
  margin: 10px 0 20px;
  strong {
    -webkit-font-smoothing: antialiased;
  }
}

.contain {
  max-width: 880px;
  margin: 0 auto;
}

p code {
  background: $color__faint;
  color: $color__primary;
  padding: 1px 5px;
  border-radius: 3px;
}

code, kbd, pre, samp {
  font-family: "Menlo", monospace;
  font-size: 14px;
}

blockquote {
  background: #f4645f;
  color: #fff;
  border-radius: 3px;
  margin: 10px 0 20px;
  padding: 10px 15px;
  border-left: none;
  p:last-child {
    margin: 0;
  }
  a {
    color: #fff;
  }
}

.main-navbar {
  background: $color__primary;
  color: $color__faint;
  padding: 0 60px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.35);
  height: 90px;
  width: 100%;
}

.main-nav {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: right;
  > li {
    display: inline-block;
    margin: 0 15px;
    > a {
      line-height: 90px;
      font-size: 16px;
      color: $color__faint;
      padding: 35px 0;
      transition: all ease-in-out .25s;
      -webkit-transition: all ease-in-out .25s;
      &:hover {
        color: $color__yellow;
      }
    }
    &.active a {
      color: $color__yellow;
    }
  }
}

.sidebar {
  border-right: 1px dashed $color__faint;
  width: 250px;
  float: left;
  padding: 35px;
  > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      font-size: 18px;
      font-weight: 400;
      padding: 0 0 10px;
      margin: 25px 0 0px;
      > ul {
        border-top: 1px dashed rgba(0,0,0,.1);
        display: block;
        list-style: none;
        margin: 10px 0 0 0;
        padding: 10px 0 0 0;
        font-size: 14px;
      }
    }
  }
  a {
    line-height: 1.5;
    &:hover {
      color: $color__darker_primary;
    }
  }
}

@media (max-width:1080px) {

  .sidebar {
    padding: 25px;
    width: 200px;
  }

}

@media (max-width:780px) {

  .sidebar {
    display: none;
  }

}

.docs-container {
  overflow: hidden;
}

.docs-container article {
  padding: 25px 125px 50px 50px;
  margin-left: 300px;
  padding-top: 30px;

  ul {
    font-size: 14px;
  }

  .content-list ul li {
    margin: 8px;
    line-height: 1.65;
  }

  p {
    font-size: 14.5px;
    line-height: 1.70;
  }

  h1 + ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 50px;
    border-bottom: 1px solid $color__faint;
    -webkit-font-smoothing: antialiased;
    li {
      &:before {
        content: "# ";
        margin-right: .25em;
        color: $color__primary;
        opacity: .3;
      }
      a {
        text-decoration: none;
      }
    }
  }

  img {
    max-width: 100%;
    border-radius: 5px;
    padding: 2px;
  }

  li > ul {
    font-size: 15px;
    font-weight: 400;
    list-style: none;
  }

  h2:first-of-type {
    margin-top: 15px;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 55px;
    position: relative;

    a,
    a:hover {
      color: $color__gray;
      text-decoration: none;
    }
    a:before {
      content: "#";
      margin-left: -25px;
      position: absolute;
      font-size: 28px;
      top: 5px;
      color: $color__primary;
      opacity: .6;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 45px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: darken($color__primary, 10%);
    }
  }

  blockquote a:hover {
    color: lighten($color__primary, 25%);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    th,
    td {
      border: 1px solid $color__lighter_gray;
      padding: 10px;
      text-align: left;
    }
    th {
      font-size: 16px;
    }
  }
}


@media (max-width:1080px) {

  .docs-container article {
    margin-left: 200px;
    padding: 15px 30px 30px;
    h2 a:before {
      margin-left: -20px;
    }
  }

}

@media (max-width:780px) {

  .docs-container article {
    margin-left: 0px;
    h1 {
      margin-top: 0;
    }
  }

  .main-navbar .brand {
    display: none;
  }
}

@media (max-width:580px) {

  .docs-container {
    padding: 0 !important;
  }

  .main-navbar .container {
    overflow: hidden !important;
  }
}

footer.main-footer {
  background: linear-gradient(to bottom, $color__primary, $color__darker_primary);
  padding: 50px 15px;
  text-align: center;
  color: #fff;

  .designed {
    color: #aaa;
    font-weight: bold;

    a {
      color: #ee2;
    }
  }

  .copyright {
    color: #eee;
  }

  a {
    color: #f0ad4e;

    &:hover {
      color: #fff;
    }
  }
}

.social {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

.main-banner {
  background: $color__primary;
  color: #fff;
  padding: 80px 10px;
  clear: both;
}

.start-btn {
  background: #eee;
  color: #111;
  padding: 20px 70px;
  font-size: 1.2em;
  margin: 20px 0;
  display: block;
}